.project-details-dialog {
  padding: 1.5rem;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.member-chip {
  background-color: #9932CC;
  color: white;
}
/* Светлая тема */
.day button.MuiButton-root {
  background: linear-gradient(to right, #ff69b4, #ffc0cb);
  color: #2c2c54;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}

.day button.MuiButton-root:hover {
  background: linear-gradient(to right, #ff85c1, #ffe4ec);
  box-shadow: 0 0 15px rgba(255, 105, 180, 1);
  transform: scale(1.05);
}

/* Тёмная тема */
.night button.MuiButton-root {
  background-color: #00f6ff;
  color: #0a0a2a;
  box-shadow: 0 0 10px rgba(0, 246, 255, 0.6);
}

.night button.MuiButton-root:hover {
  background-color: #4dfaff;
  box-shadow: 0 0 15px rgba(0, 246, 255, 1);
  transform: scale(1.05);
}
