.add-task-dialog {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Общий стиль для текстовых полей */
.add-task-dialog .MuiTextField-root {
  margin-bottom: 1rem;
  width: 100%; /* Поля растягиваются на всю ширину */
}

/* Контейнер для дат и времени */
.date-time-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dialog-content{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}
.dialog-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Поля дат и времени имеют одинаковую ширину */
.date-time-container .MuiTextField-root {
  flex: 1;
  min-width: 12rem; /* Увеличили минимальную ширину */
}

/* Центрируем только диалоговое окно для задач */
.add-task-dialog .MuiDialog-paper {
  display: flex;
  justify-content: center;
  min-width: 55vw; /* Устанавливаем ширину только для диалогового окна */
}
