.add-task-dialog {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Общий стиль для текстовых полей */
.add-task-dialog .MuiTextField-root {
  margin-bottom: 1rem;
  width: 100%; /* Поля растягиваются на всю ширину */
}



/* Контейнер для дат и времени */
.date-time-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dialog-content{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}
.dialog-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Поля дат и времени имеют одинаковую ширину */
.date-time-container .MuiTextField-root {
  flex: 1;
  min-width: 12rem; /* Увеличили минимальную ширину */
}

/* Центрируем только диалоговое окно для задач */
.add-task-dialog .MuiDialog-paper {
  display: flex;
  justify-content: center;
  min-width: 55vw; /* Устанавливаем ширину только для диалогового окна */
}

/* Input fields - NIGHT THEME */
.night .MuiTextField-root {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
}

.night .MuiTextField-root input {
  color: inherit;
}

.night .MuiInputLabel-root {
  color: #aaa !important;
  transition: color 0.3s ease;
}

.night .Mui-focused label,
.night .MuiInputLabel-root.Mui-focused {
  color: #00f6ff !important;
}

.night .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  transition: border-color 0.3s ease;
}

.night .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00f6ff !important;
}

.night .MuiSwitch-thumb {
  background-color: #00f6ff !important;
}

.night .MuiSwitch-track {
  background-color: #00f6ff !important;
}

/* Input fields - DAY THEME */
.day .MuiTextField-root {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  color: #2c2c54;
}

.day .MuiTextField-root input {
  color: #2c2c54;
}

.day .MuiInputLabel-root {
  color: #9932cc !important;
  transition: color 0.3s ease;
}

.day .Mui-focused label,
.day .MuiInputLabel-root.Mui-focused {
  color: #ff69b4 !important;
}

.day .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
  transition: border-color 0.3s ease;
}

.day .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ff69b4 !important;
}

.day .MuiSwitch-thumb {
  background-color: #ff69b4 !important;
}

.day .MuiSwitch-track {
  background-color: rgba(255, 105, 180, 0.5) !important;
}

/* THEMED IconButton */
.night .MuiIconButton-root {
  color: #00f6ff !important;
  transition: all 0.2s ease-in-out;
}

.night .MuiIconButton-root:hover {
  color: #00f6ff !important;
  box-shadow: 0 0 8px #00f6ff;
}

.day .MuiIconButton-root {
  color: #ff69b4 !important;
  transition: all 0.2s ease-in-out;
}

.day .MuiIconButton-root:hover {
  color: #ff69b4 !important;
  box-shadow: 0 0 8px #ff69b4;
}

