.side-panel {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background-color: #212529;
    color: white;
    transition: left 0.3s ease;
  }
  .open-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .side-panel.open {
    left: 0;
  }
  
  .side-panel-content {
    padding: 20px;
  }
  
  .close-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .close-button:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  