.login-page {
  flex-grow: 1; /* Контент занимает оставшееся пространство */
  padding: 1.5rem; /* Относительные отступы для адаптивности */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Высота страницы = высота окна */
  transition: background-color 0.3s ease;
}

.login-page.day {
  background: linear-gradient(to bottom right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8);
  color: #2c2c54;
}

.login-page.night {
  background: linear-gradient(to bottom right, #0a0a2a 0%, #0a0a2a 50%, #1a2a5c 100%);
  color: #f8f8ff;
}

.main-login-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.login-title {
  margin-bottom: 1.25rem;
  color: #9932CC;
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 25rem; /* Используем rem для относительных размеров */
  padding: 1.25rem;
  
  color: var(--form-text);
  
  border-radius: 0.625rem;
}

.login-button {
  margin-top: 1.25rem;
}

.login-page.day {
  background-color: #f5f5f5;
  --form-bg: white;
  --form-text: black;
}

.login-page.night {
  background-color: #2c2c54; /* Мягкий ночной фон */
  --form-bg: #2b2b60;
  --form-text: #f5f5f5;
}
